{namespace vh=TYPO3\BackendAjax\ViewHelpers}

<f:layout name="Default"/>
<!--
	=====================
		Templates/BackendAjax/List.html
-->

<f:section name="main">
    <vh:inlineSettings settings="{
    first_name: '{f:translate(key:\'LLL:EXT:lang/locallang_general.xlf:LGL.first_name\')}',
    last_name: '{f:translate(key:\'LLL:EXT:lang/locallang_general.xlf:LGL.last_name\')}',
    username: '{f:translate(key:\'LLL:typo3/sysext/frontend/Resources/Private/Language/locallang_tca.xlf:fe_users.username\')}',
    allData: '{f:format.raw(value:\'{allData}\')}',
    allDataRow: '{f:format.raw(value:\'{allDataRow}\')}',
    allDataCol: '{f:format.raw(value:\'{allDataCol}\')}',
    ajaxUrl: 'index.php?M=web_BackendAjaxM1&id=1&tx_backendajax_web_backendajaxm1[action]=ajaxexample&tx_backendajax_web_backendajaxm1[controller]=Data&moduleToken={moduleTokenValue}'
}"/>
    <script type="text/javascript">
        var __origDefine = define;
        define = null;
    </script>
    <script src="sysext/core/Resources/Public/JavaScript/Contrib/jquery/jquery-2.1.4.js"
            type="text/javascript"></script>
    <script src="../typo3conf/ext/backend_ajax/Resources/Public/handsontable/handsontable.full.js"
            type="text/javascript"></script>
    <script src="../typo3conf/ext/backend_ajax/Resources/Public/JavaScript/Data.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        define = __origDefine;
    </script>
    <h1>
        <f:translate key="tx_backendajax_domain_model_Data.header"/>
    </h1>
    <h4 class="statusMsgSuccess" style="display:none;">
        <f:translate key="tx_backendajax_domain_model_Data.statusMsgSuccess"/>
    </h4>
    <h4 class="statusMsgError" style="display:none;">
        <f:translate key="tx_backendajax_domain_model_Data.statusMsgError"/>
    </h4>
    <div id="BackendAjaxDataDiv"></div>

</f:section>
